<h2>Welcome, Employee!</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<a asp-controller="Dashboard" asp-action="CreateFarmerProfile" class="btn btn-primary">
    Create Farmer Profile
</a>

<a asp-controller="Dashboard" asp-action="ViewAllProducts" class="btn btn-info mt-3">
    View All Products with Farmers
</a>


